<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>PayzenOneOffSEPA\PayzenOneOffSEPA</fullnamespace>
    <descriptive locale="en_US">
        <title>SDD : one off SEPA payment with PayZen</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>SDD : prélèvement unique SEPA via PayZen</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Etienne Perriere - OpenStudio</name>
        <email>eperriere@openstudio.fr</email>
    </author>
    <type>payment</type>
    <required>
        <module version="&gt;=0.1">Payzen</module>
    </required>
    <thelia>2.1.0</thelia>
    <stability>other</stability>
</module>
